/* Company Section*/
.companies {
  background-color: #f5f6f8;
  max-width: 1440px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__section > p {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    text-align: center;

    color: #000000;
    padding-top: 68px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    gap: 49px;

    padding: 38px 95px 76px 87px;

    @media only screen and (max-width: 768px) {
      .company__images {
        padding: 15px;
        gap: 20px;
        flex-wrap: wrap;
      }
    }
    @media only screen and (max-width: 440px) {
      .company__images {
        padding: 15px;
        gap: 22px;
        flex-wrap: wrap;
      }
    }
  }
}
