.cta__maincontainer {
  max-width: 1200px;
  padding-bottom: 200px;
  padding-left: 123px;
  padding-right: 117px;
}

.cta__subcontainer {
  background: #3734a9;
  border-radius: 20px;
}
.mein__headingss h2 {
  max-width: 763px;
  padding: 108px 219px 41px 218px;
  font-weight: 800;
  font-size: 56px;
  line-height: 61px;
  /* or 109% */

  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.btn__2 {
  padding-right: 219px;
  padding-bottom: 100px;
  padding-left: 488px;
}
.second__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
  padding: 19px 42px 18px 42px;
  background: #ff7f5c;
  border-radius: 10px;
}
