.cta {
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 1440px) {
    padding: 0px 16px;
  }
  &__container {
    padding: 150px 0px;
    background: #3734a9;
    border-radius: 20px;
    padding: 108px 0px 100px;
    position: relative;

    &-right {
      position: absolute;
      right: 36px;
      top: 53px;
    }
    &-left {
      position: absolute;
      left: 100px;
      bottom: 53px;
    }
    &-centerleft {
      position: absolute;
      top: 58px;
      left: 190px;
      @media screen and (max-width: 1024px) {
        left: 120px;
      }
      @media screen and (max-width: 768px) {
        left: 90px;
      }
      @media screen and (max-width: 640px) {
        left: 30px;
      }
    }
    &-bottom {
      position: absolute;
      right: 36px;
      bottom: 53px;
    }
  }
}
