@import "../../styles/variable.scss";
@import "../../styles/mixins.scss";
.navbar {
  // display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: transparent;

  &__container {
    padding-top: 38px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1202px;
    margin: auto;
  }
}

.ri__closeline {
  position: absolute;
  right: 20px;
  top: 16px;
}
.sidebar__hamburgerMenu {
  display: none;
}
@media screen and (max-width: 1440px) {
  .navbar__container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar__container {
    padding: 20px;
  }
  .navbar__navItems-item {
    display: none;
  }

  .sidebar__hamburgerMenu {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .signin__startfree {
    display: none;
  }

  .navbar__container {
    padding: 15px;
  }
  .sidebar__hamburgerMenu {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .navbar__container {
    padding: 10px;
  }

  .sidebar__hamburgerMenu {
    display: block;
  }
}
.nav__items__hamburgerMenu-container {
  background: linear-gradient(292.12deg, #62bada -35.02%, #c9e7f2 78.96%);

  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;

  &__links {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;

    align-items: center;
    gap: 20px;
    padding: 30px;
    position: fixed;
  }
  &__links-items {
    text-decoration: none;
    color: #000000;
  }
}
