.features__container {
  max-width: 1202px;
  margin: auto;
  background: #c9e7f2;
  margin-bottom: 4rem;
}

.features__subcontainer {
  padding: 100px;

  @media only screen and (max-width: 1040px) {
    padding: 20px 20px;
  }

  &-description {
    margin-bottom: 3rem;
    > h1 {
      font-weight: 800;
      // font-size: 71px;
      font-size: clamp(40px, 10vw, 71px);
      line-height: 66px;
      letter-spacing: -0.03em;
      color: #000000;
      padding-bottom: 37px;
      @media only screen and (max-width: 540px) {
        padding-bottom: 18px;
      }
    }

    > p {
      max-width: 557px;
      font-weight: 500;
      font-size: 16px;
      line-height: 29px;

      letter-spacing: -0.02em;
    }
  }
}
