.features {
  max-width: 1440px;
  position: relative;
  margin: auto;
  background: #c9e7f2;
  &__main {
    margin-top: 140px;
    > img {
      position: absolute;
      bottom: 97px;
    }

    &__subcontainer {
      &-description {
        > h1 {
          font-weight: 800;
          font-size: clamp(40px, 10vw, 71px);
          line-height: 66px;
          letter-spacing: -0.03em;
          color: #000000;
          @media only screen and (max-width: 540px) {
            padding-bottom: 18px;
          }
        }

        > p {
          max-width: 557px;
          font-weight: 500;
          font-size: 16px;
          line-height: 29px;
          padding-top: 37px;
          letter-spacing: -0.02em;
        }
      }
    }
  }
}
