.features__container {
  max-width: 1440px;
  background: #c9e7f2;
  // margin: 3rem;
  flex-direction: column;
  padding-top: 96px;
}

.features__description {
  padding-bottom: 51px;
  padding-left: 119px;
  flex-direction: column;
}
.features__description h1 {
  font-style: normal;
  // max-width: 780px;
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  /* identical to box height, or 93% */

  letter-spacing: -0.03em;

  color: #000000;
  padding-bottom: 37px;
}
.features__description p {
  max-width: 557px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  letter-spacing: -0.02em;
  // padding-bottom: 52px;
}
.features__cards {
  gap: 30px;

  padding-left: 123px;
  padding-right: 117px;
  padding-bottom: 137px;
}
.features__cards1 {
  max-width: 383px;
  background: #ffffff;
  border: 1px solid #abc8d2;
  border-radius: 10px;
  padding: 53px 50px 43px 31px;
}
.features__cards1 img {
  padding-bottom: 33px;
}
.features__cards1 h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  /* or 159% */

  letter-spacing: -0.03em;

  color: #000000;
  padding-bottom: 16px;
}
.features__cards1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  /* or 173% */

  letter-spacing: -0.02em;
}
.features__cards2 {
  max-width: 383px;
  background: #ffffff;
  border: 1px solid #abc8d2;
  border-radius: 10px;
  padding: 53px 50px 43px 31px;
}
.features__cards2 img {
  padding-bottom: 33px;
}
.features__cards2 h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  /* or 159% */

  letter-spacing: -0.03em;
  padding-bottom: 16px;
  color: #000000;
}
.features__cards2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  /* or 173% */

  letter-spacing: -0.02em;
}
.remaining__cards {
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 380px;
}

.features__cards3 h2 {
  background: #ffffff;
  border: 1px solid #abc8d2;
  border-radius: 10px;
  padding: 0px;
  padding: 42px 43px 41px 31px;
  padding-bottom: 32px;
}

.features__cards4 {
  background: #ffffff;
  border: 1px solid #abc8d2;
  border-radius: 10px;
  padding: 42px 43px 41px 31px;
}
@media screen and (max-width: 640px) {
  .features__cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .features__cards {
    flex-direction: column;
  }
}
