.main__container {
  padding-left: 119px;
  padding-right: 118px;
  max-width: 1204px;
  background: #fafbff;
}
.main__container h2 {
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  /* identical to box height, or 93% */

  letter-spacing: -0.03em;

  color: #000000;
  // padding-right: 123px;
  padding-bottom: 72px;
}
.blog__mainrow {
  background: #ffffff;
  // padding-right: 219px;
  // padding-left: 217px;
}

.mainrow__leftdetails h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #000000;
  padding-top: 34px;
  padding-left: 28px;
}
.mainrow__leftdetails p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  /* or 124% */

  letter-spacing: -0.02em;

  color: #000000;
  padding: 6px 148px 68px 28px;
}
.textbutton__readmore {
  padding-bottom: 53px;
  padding-left: 28px;
  gap: 10px;
}
.textbutton__readmore p {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* Pallet 1 / Dark */

  color: #1b1c31;
}

// second blogs

.blog__secondrow {
  gap: 28px;

  padding-top: 29px;
  width: calc(33.3333333333% - 19px);
  flex-wrap: nowrap;
}

//  Blog1
.related__blogs1 {
  background: #ffffff;
}
.related__blogs2 img {
}
.related__blogs1 h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #000000;
  padding-top: 25px;
  padding-left: 32px;
}
.related__blogs1 p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  /* or 124% */

  letter-spacing: -0.02em;
  padding: 7px 40px 58px 32px;

  color: #000000;
}
// Blog2
.related__blogs2 {
  background: #ffffff;
}
// .related__blogs2 img {
//   width: calc(100% / 3 - 19px);
// }
.related__blogs2 h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #000000;
  padding-top: 25px;
  padding-left: 32px;
}
.related__blogs2 p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  /* or 124% */

  letter-spacing: -0.02em;
  padding: 7px 40px 94px 32px;

  color: #000000;
}
// Blog3
.related__blogs3 img {
  background: #ffffff;
}
// .related__blogs3 img {
//   width: calc(100% / 3 - 19px);
// }
.related__blogs3 h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #000000;
  padding-top: 25px;
  padding-left: 32px;
}
.related__blogs3 p {
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  /* or 124% */

  letter-spacing: -0.02em;
  padding: 7px 40px 58px 32px;

  color: #000000;
}
