.banner__icon-styles {
  position: relative;
}
.main__banner-section {
  max-width: 1202px;
  // padding-left: 121px;
  // padding-right: 117px;
  margin: auto;
}
.banner__division {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.banner__image {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1440px) {
  .main__banner-section {
    padding: 0px 16px;
  }
}
@media screen and (max-width: 1040px) {
  .banner__image {
    display: none;
  }
}
